@{
    Layout = null;
}

        <!-- START footer -->
        <footer>
            <!-- START #ft-footer -->
            <div id="ft-footer">
                <div class="footer-overlay">
                    <div class="container">
                        <div class="row">
                            <!-- testimonials -->
                            <section class="col-md-6">
                                <h3>Testimonials</h3>
                                <p>Tortor turpis. Proin. Dolor. Auctor arcu, habitasse mid placerat magna? Dis ac, adipiscing? Cras mus dolor sit a? Platea eros dictumst ridiculus sed phasellus, rhoncus magnis a pellentesque pulvinar duis purus risus tristique ultricies natoque, nec! Natoque natoque cum? Nec, placerat sociis! Sit ut, scelerisque? placerat sociis! Sit ut, scelerisque? Urna ut aliquam duis et scelerisque,</p>
                                <div class="tl-author">
                                    <span class="tl-author-img">
                                        <img class="img-circle" src="~/content/img/author-image.jpg" alt="Testimonial Author" />
                                    </span>
                                    <span class="tl-author-title">Jassem Elrakesh</span>
                                    <span class="tl-author-desc">Visited Barcelona recently</span>
                                </div>
                            </section>

                            <!-- twitter -->
                            <section class="col-md-6">
                                <h3 class="tw-feeds">Twitter Feeds</h3>
                                <p>The only netball team that takes a team photo after every game #envato <a href="#">http://instagram.com/p/gXSJNTwBJe/</a></p>
                                <p>Very excited that Envato is joining the big-ticket Macaw backers list - <a href="#">http://macaw.co</a>  - very intuitive looking new web design app!</p>
                                <p>Remember, you really are your own boss. Sink or swim, but do it like a boss. (10/10) <a href="#">#10BootstrappingTips</a></p>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END #ft-footer -->
            <!-- START #ex-footer -->
            <div id="#ex-footer">
                <div class="container">
                    <div class="row">
                        <nav class="col-md-12">
                            <ul class="footer-menu">
                                <li><a href="#">Best Rate Guarntee</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Hotel Directory</a></li>
                                <li><a href="#">Website Terms of Use</a></li>
                                <li><a href="#">Privacy Statement</a></li>
                                <li><a href="#">Affiliates</a></li>
                                <li class="last-item"><a href="#">Top Destinations</a></li>
                            </ul>
                        </nav>

                        <div class="foot-boxs">
                            <div class="foot-box col-md-4 text-right">
                                <span>Stay Connected</span>
                                <ul class="social-media footer-social">
                                    <li><a class="sm-yahoo" href="#"><span>Yahoo</span></a></li>
                                    <li><a class="sm-facebook" href="#"><span>Facebook</span></a></li>
                                    <li><a class="sm-rss" href="#"><span>RSS</span></a></li>
                                    <li><a class="sm-flickr" href="#"><span>Flicker</span></a></li>
                                    <li><a class="sm-windows" href="#"><span>Windows</span></a></li>
                                    <li><a class="sm-stumble" href="#"><span>Stumbleupon</span></a></li>
                                </ul>
                            </div>
                            <div class="foot-box foot-box-md col-md-4">
                                <span class="contact-email"> touchus@@travelhub.com</span>
                                <span class="contact-phone"> +1 125 496 0999</span>
                            </div>
                            <div class="foot-box col-md-4">
                                <span class="">&copy; 2013 travelhub. All Rights Reserved.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END #ex-footer -->
        </footer>
        <!-- END footer -->