
@{
    Layout = null;
}

<!-- START #main-slider -->
<div id="main-slider">
    <div id="content-slider">
        <ul>
            <!-- START Slide 1 -->
            <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                <img src="~/content/img/slide-image-1.jpg" alt="Slider Image 1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" />

                <!-- LAYER NR. 1 -->
                <div class="caption caption-yellow sft stt headline text-upper"
                     data-x="20"
                     data-y="150"
                     data-speed="600"
                     data-start="2000"
                     data-easing="Power3.easeOut"
                     data-endspeed="400"
                     data-endeasing="Power4.easeIn"
                     data-captionhidden="off"
                     style="z-index:6;font-size:18px;">
                    Starting From 1200 $ Only
                </div>

                <!-- LAYER NR. 2 -->
                <div class="caption caption-white sfr stl slider-heading text-upper"
                     data-x="20"
                     data-y="185"
                     data-speed="1000"
                     data-start="1800"
                     data-easing="Power2.easeOut"
                     data-endspeed="600"
                     data-endeasing="Power3.easeIn"
                     data-captionhidden="off"
                     style="z-index:6;font-size:48px; ">
                    Luxury Journeys
                </div>

                <!-- LAYER NR. 3 -->
                <div class="caption caption-black sfb stb headline text-upper"
                     data-x="20"
                     data-y="263"
                     data-speed="600"
                     data-start="1500"
                     data-easing="Power4.easeOut"
                     data-endspeed="500"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="off"
                     style="z-index:6">
                    Crafting individual and unique itineraries to every corner of Japan.<br />
                    Peruse the possibilities here.
                </div>
            </li>
            <!-- END Slide 1 -->
            <!-- START Slide 2 -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="1000">
                <img src="~/content/img/slide-image-2.jpg" alt="Slider Image 2" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" />

                <!-- LAYER NR. 1 -->
                <div class="caption caption-yellow sfl str headline text-upper"
                     data-x="20"
                     data-y="150"
                     data-speed="600"
                     data-start="2000"
                     data-easing="Bounce.easeInOut"
                     data-endspeed="400"
                     data-endeasing="Bounce.easeOut"
                     data-captionhidden="off"
                     style="z-index:6;font-size:18px;">
                    Starting From 1200 $ Only
                </div>

                <!-- LAYER NR. 2 -->
                <div class="caption caption-white sft stb slider-heading text-upper"
                     data-x="20"
                     data-y="185"
                     data-speed="500"
                     data-start="800"
                     data-easing="Expo.easeIn"
                     data-endspeed="600"
                     data-endeasing="Expo.easeInOut"
                     data-captionhidden="off"
                     style="z-index:6;font-size:48px; ">
                    Luxury Journeys
                </div>

                <!-- LAYER NR. 3 -->
                <div class="caption caption-black sfr stl headline text-upper"
                     data-x="20"
                     data-y="263"
                     data-speed="600"
                     data-start="1500"
                     data-easing="Power0.easeOut"
                     data-endspeed="500"
                     data-endeasing="Back.easeOut"
                     data-captionhidden="off"
                     style="z-index:6">
                    Crafting individual and unique itineraries to every corner of Japan.<br />
                    Peruse the possibilities here.
                </div>
            </li>

            <!-- START Slide 3 -->
            <li data-transition="fade" data-slotamount="6" data-masterspeed="800">
                <img src="~/content/img/slide-image-3.jpg" alt="Slider Image 3" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" />

                <!-- LAYER NR. 1 -->
                <div class="caption caption-yellow sft stt headline text-upper"
                     data-x="20"
                     data-y="150"
                     data-speed="600"
                     data-start="2000"
                     data-easing="Power3.easeOut"
                     data-endspeed="400"
                     data-endeasing="Power4.easeIn"
                     data-captionhidden="off"
                     style="z-index:6;font-size:18px;">
                    Starting From 1200 $ Only
                </div>

                <!-- LAYER NR. 2 -->
                <div class="caption caption-white sfr stl slider-heading text-upper"
                     data-x="20"
                     data-y="185"
                     data-speed="1000"
                     data-start="1800"
                     data-easing="Power2.easeOut"
                     data-endspeed="600"
                     data-endeasing="Power3.easeIn"
                     data-captionhidden="off"
                     style="z-index:6;font-size:48px; ">
                    Luxury Journeys
                </div>

                <!-- LAYER NR. 3 -->
                <div class="caption caption-black sfb stb headline text-upper"
                     data-x="20"
                     data-y="263"
                     data-speed="600"
                     data-start="1500"
                     data-easing="Power4.easeOut"
                     data-endspeed="500"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="off"
                     style="z-index:6">
                    Crafting individual and unique itineraries to every corner of Japan.<br />
                    Peruse the possibilities here.
                </div>
            </li>
            <!-- END Slide 3 -->
        </ul>
    </div>
    <div id="slider-overlay"></div>
</div>
<!-- END #main-slider -->