
@{
    Layout = null;
}

<!-- START .main-contents .bom-contents -->
<div class="main-contents bom-contents">
    <div class="container">
        <h2 class="text-center text-upper">Tracy Arm Fjord</h2>
        <p class="headline text-center">A piece of heaven in the summer of 2013 brought ten small art houses enlivn the street scene in Tracy Arm FJord</p>

        <div class="row">
            <!-- START featured destination 1 -->
            <section class="col-md-3 fd-column">
                <div class="featured-dest">
                    <span class="fd-image">
                        <img class="img-circle" src="~/content/img/featured-image-1.jpg" alt="Featured Destination" />
                    </span>
                    <h3 class="text-center text-upper">Beach</h3>
                    <p class="text-center">Egestas dignissim a enim lorem a mus egestas risus porta? Sed. Scelerisque, in nec velit augue aenean a, vut velit nec! Phasellus aliquam odio.</p>
                    <span class="btn-center"><a class="btn btn-primary text-upper" href="#" title="Search">Search</a></span>
                </div>
            </section>
            <!-- END featured destination 1 -->
            <!-- START featured destination 2 -->
            <section class="col-md-3 fd-column">
                <div class="featured-dest">
                    <span class="fd-image">
                        <img class="img-circle" src="~/content/img/featured-image-2.jpg" alt="Featured Destination" />
                    </span>
                    <h3 class="text-center text-upper">Romantic</h3>
                    <p class="text-center">Egestas dignissim a enim lorem a mus egestas risus porta? Sed. Scelerisque, in nec velit augue aenean a, vut velit nec! Phasellus aliquam odio.</p>
                    <span class="btn-center"><a class="btn btn-primary text-upper" href="#" title="Search">Search</a></span>
                </div>
            </section>
            <!-- END featured destination 2 -->
            <!-- START featured destination 3 -->
            <section class="col-md-3 fd-column">
                <div class="featured-dest">
                    <span class="fd-image">
                        <img class="img-circle" src="~/content/img/featured-image-3.jpg" alt="Featured Destination" />
                    </span>
                    <h3 class="text-center text-upper">Amazing</h3>
                    <p class="text-center">Egestas dignissim a enim lorem a mus egestas risus porta? Sed. Scelerisque, in nec velit augue aenean a, vut velit nec! Phasellus aliquam odio.</p>
                    <span class="btn-center"><a class="btn btn-primary text-upper" href="#" title="Search">Search</a></span>
                </div>
            </section>
            <!-- END featured destination 3 -->
            <!-- START featured destination 4 -->
            <section class="col-md-3 fd-column">
                <div class="featured-dest">
                    <span class="fd-image">
                        <img class="img-circle" src="~/content/img/featured-image-4.jpg" alt="Featured Destination" />
                    </span>
                    <h3 class="text-center text-upper">Fun</h3>
                    <p class="text-center">Egestas dignissim a enim lorem a mus egestas risus porta? Sed. Scelerisque, in nec velit augue aenean a, vut velit nec! Phasellus aliquam odio.</p>
                    <span class="btn-center"><a class="btn btn-primary text-upper" href="#" title="Search">Search</a></span>
                </div>
            </section>
            <!-- END featured destination 4 -->
        </div>
    </div>
</div>
<!-- END .main-contents .bom-contents -->